<ion-header>
  <ion-toolbar>
    <ion-title>Comportamiento Ventas al Mes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="business-plan"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="content-card">
  <ion-item class="contentTile">
    <ion-title><b>Ventas totales por mes (Bs)</b></ion-title>
  </ion-item>
  <ion-item class="inputData">
    <ion-label position="floating">Rango de ventas (Bs) Alta</ion-label>
    <ion-input type="number" [(ngModel)]="saleMonth.ventaAlta"></ion-input>
  </ion-item>
  <ion-item class="inputData">
    <ion-label position="floating">Rango de ventas (Bs) Media</ion-label>
    <ion-input type="number" [(ngModel)]="saleMonth.ventaMedia"></ion-input>
  </ion-item>

  <ion-item class="inputData">
    <ion-label position="floating">Rango de ventas (Bs) Baja</ion-label>
    <ion-input type="number" [(ngModel)]="saleMonth.ventaBaja"></ion-input>
  </ion-item>
  <br>

  <ion-item class="contentTile">
      <ion-title><b>Comportamiento de ventas</b></ion-title>
  </ion-item>
  <ion-item class="contentTile mes">
      <ion-title><b>Mensuales</b></ion-title>
  </ion-item>

  <ion-list class="inputData">
    <ion-item>
      <ion-label>Enero</ion-label>
      <ion-select placeholder="Seleccione uno"  [value]="selectEne" multiple="false" (ionChange)="selectEneroRango($event)">
        <ion-select-option *ngFor="let user of users" [value]="user.rank">{{user.rank}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Febrero</ion-label>
      <ion-select placeholder="Seleccione uno" [value]="selectFeb" multiple="false" (ionChange)="selectFebreroRango($event)">
        <ion-select-option *ngFor="let user of users" [value]="user.rank">{{user.rank}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Marzo</ion-label>
      <ion-select placeholder="Seleccione uno" [value]="selectMar" multiple="false" (ionChange)="selectMarzoRango($event)">
        <ion-select-option *ngFor="let user of users" [value]="user.rank">{{user.rank}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Abril</ion-label>
      <ion-select placeholder="Seleccione uno" [value]="selectAbr" multiple="false" (ionChange)="selectAbrilRango($event)">
        <ion-select-option *ngFor="let user of users" [value]="user.rank">{{user.rank}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Mayo</ion-label>
      <ion-select placeholder="Seleccione uno" [value]="selectMay" multiple="false" (ionChange)="selectMayoRango($event)">
        <ion-select-option *ngFor="let user of users" [value]="user.rank">{{user.rank}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Junio</ion-label>
      <ion-select placeholder="Seleccione uno" [value]="selectJun" multiple="false" (ionChange)="selectJunioRango($event)">
        <ion-select-option *ngFor="let user of users" [value]="user.rank">{{user.rank}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Julio</ion-label>
      <ion-select placeholder="Seleccione uno" [value]="selectJul" multiple="false" (ionChange)="selectJulioRango($event)">
        <ion-select-option *ngFor="let user of users" [value]="user.rank">{{user.rank}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Agosto</ion-label>
      <ion-select placeholder="Seleccione uno" [value]="selectAgo" multiple="false" (ionChange)="selectAgostoRango($event)">
        <ion-select-option *ngFor="let user of users" [value]="user.rank">{{user.rank}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Septiembre</ion-label>
      <ion-select placeholder="Seleccione uno" [value]="selectSep" multiple="false" (ionChange)="selectSeptiembreRango($event)">
        <ion-select-option *ngFor="let user of users" [value]="user.rank">{{user.rank}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Octubre</ion-label>
      <ion-select placeholder="Seleccione uno" [value]="selectOct" multiple="false" (ionChange)="selectOctubreRango($event)">
        <ion-select-option *ngFor="let user of users" [value]="user.rank">{{user.rank}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Noviembre</ion-label>
      <ion-select placeholder="Seleccione uno" [value]="selectNov" multiple="false" (ionChange)="selectNoviembreRango($event)">
        <ion-select-option *ngFor="let user of users" [value]="user.rank">{{user.rank}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Diciembre</ion-label>
      <ion-select placeholder="Seleccione uno" [value]="selectDic" multiple="false" (ionChange)="selectDiciembreRango($event)">
        <ion-select-option *ngFor="let user of users" [value]="user.rank">{{user.rank}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button class="btnGuardar" size="large" expand="block" (click)="save()" >GUARDAR</ion-button>
</ion-card>
</ion-content>
