<ion-header>
  <ion-toolbar>
    <ion-title>Datos del Credito</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="business-plan"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="inputData">
    <ion-label position="floating">Monto</ion-label>
    <ion-input type="number" [(ngModel)]="budgetSummary.montoFinanciar" disabled></ion-input>
  </ion-item>
  <br>
  <ion-item class="inputData">
    <ion-label position="floating">Tasa de interes %</ion-label>
    <ion-input type="number" [(ngModel)]="dataCredit.tasaInteres"></ion-input>
  </ion-item>
  <br>
  <ion-item class="inputData">
    <ion-label position="floating">Plazo (meses)</ion-label>
    <ion-input type="number" [(ngModel)]="dataCredit.plazo"></ion-input>
  </ion-item>
  <br>
  <ion-item class="inputData">
    <ion-label position="floating">Tipo de credito</ion-label>
    <ion-select  interface="popover" (ionChange)="selectTipeCouta($event)" [value]="dataCredit.tipoCuota">
      <ion-select-option value="Cuota Fija">Cuota Fija</ion-select-option>
      <ion-select-option value="Cuota Variable">Cuota Variable</ion-select-option>
    </ion-select>
  </ion-item>
  <br>

  <ion-button class="btnGuardar"  size="large" expand="block" (click)="send()">GUARDAR</ion-button>
</ion-content>
