<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-menu-button color="primary" menu="myMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Información de la Empresa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- DATOS DE LA EMPRESA -->
  <ion-card>
    <ion-card-header color='primary'>
      <ion-card-title>Datos de la Empresa
        <ion-icon name="server-outline"></ion-icon>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label text-wrap>
            <h2>Nombre:</h2>
            <p>Trading Apps</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>
            <h2>Ubicación:</h2>
            <p>Calle sucre entre Ladislau Cabrea y 16 de julio</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- DATOS ANALISIS DE  MERCADO-->
  <ion-card>
    <ion-card-header color='primary'>
      <ion-card-title>Análisis de Mercado
        <ion-icon name="stats-chart-outline"></ion-icon>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label text-wrap>
            <h2>Cliente Objetivo:</h2>
            <p>Un cliente que podría convertirse en comprador, consumidor o usuario de un producto o
              servicio dentro o fuera del país.
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>
            <h2>Fortaleza del producto:</h2>
            <p>Como estrategias de enganche al cliente, se manejara una opción de
              actualizaciones anuales, dándole la viabilidad al cliente de adquirir el software con
              nuevos atributos y actualizaciones, motivando la continuidad de ingresos para la
              empresa por parte de clientes ya atendidos.
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>
            <h2>Clientes potenciales:</h2>
            <p>Empresas del exterior, encargadas de distribuir el software producido </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>
            <h2>Tamaño del mercado oportunidad de crecimientos:</h2>
            <p>• Se antendera entre 5 a 20 clientes inicialmente <br>
              • Se venderá inicialmente entre 3 a 10 cantidad de nuestro Servicios <br>
              • Capacidad maxina de produccion sera de 20 a 5
             </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>
            <h2>Competencia del mercado:</h2>
            <p>• Ingreso de nuevos competidores en el mercado local. <br>
              • Competencia por talento en el mercado laboral local.
             </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
   <!-- DATOS FORTALEZAS Y DEBILIDADES -->
  <ion-card>
    <ion-card-header color='primary'>
      <ion-card-title>Fortalezas y Debilidades
        <ion-icon name="speedometer-outline"></ion-icon>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label text-wrap>
            <h2>Fortalezas:</h2>
            <p>Infraestructura adecuada con disponibilidad de equipos para la actividad con una
              atención al cliente personalizada.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>
            <h2>Debilidades:</h2>
            <p>El conocimiento de operaciones sobre la atención y/o producción, inventario,
               análisis de los costos y beneficios.</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
