.btnGrafic{
  background-color: #9986ce !important;
  margin: 10px;
}

.nofactible{
  width: 100%;
  align-items: center;
  padding: 5px;
  text-align: center;
  background-color:  #f8caca;
  color: #ce0606;

}
.factible{
  width: 100%;
  align-items: center;
  padding: 5px;
  text-align: center;
  background-color: #b8ebbd;
  color: #06a771;
}
