.contentData{
  padding-left: 18px;
  padding-top: 5px;

}
.title{
  color: black;
}
.btn{
  color: #cc1313 !important;
}
.btncarga{
  color: #5b37c0 !important;
}
.content-row{
  padding-top: 10px;
  padding-bottom: 10px;
}
.btns{
  margin: 12px;
}
