<div>
  <ion-card>
    <ion-row>
      <ion-col class="content-row">

        <ion-title class="title">{{title}}</ion-title>
        <div class="contentData">
          <ion-label>VAN: {{van}}</ion-label>
          <ion-label slot="end"></ion-label>

        </div>
        <div class="contentData">
          <ion-label>TIR %: {{tir}}</ion-label>
          <ion-label slot="end"></ion-label>

        </div>

      </ion-col>
      <ion-col>
        <ion-button  class="btns" (click)="generar()" color="light"  expand="block"><div class="btn" >VER DATOS</div>
          <ion-icon color="secondary"  slot="start" name="reader"></ion-icon>
        </ion-button>
        <ion-button class="btns" (click)="navigateTo('/business-plan')" color="light"  expand="block">
          <div class="btncarga" >Cargar</div>
          <ion-icon color="tertiary"  slot="start" name="arrow-forward-circle"></ion-icon>
        </ion-button>

      </ion-col>
    </ion-row>

  </ion-card>
</div>
