<ion-header>
  <ion-toolbar>
    <ion-title>Costos de Porduccion Mensuales</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="business-plan"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formProduct" (submit)="saveProduct()">
    <ion-card>
      <ion-item class="inputData">
        <ion-label position="floating">Producto o Servicio</ion-label>
        <ion-input type="text" formControlName="productoServicio" ></ion-input>
      </ion-item>
      <br>
      <ion-item class="inputData">
        <ion-label position="floating">Tipo</ion-label>
        <ion-input type="text" formControlName="tipo"></ion-input>
      </ion-item>
      <br>
      <ion-item class="inputData">
        <ion-label position="floating">Cantidad</ion-label>
        <ion-input type="number" formControlName="cantidad"></ion-input>
      </ion-item>
      <ion-item class="inputData">
        <ion-label position="floating">unidad de Venta</ion-label>
        <ion-input type="text" formControlName="unidadVenta"></ion-input>
      </ion-item>
      <ion-item class="inputData">
        <ion-label>Frecuencia</ion-label>
        <ion-select interface="popover" formControlName="tipoFrecuencia" placeholder="Seleccione uno">
          <!-- <ion-select-option value="Diario">Diario</ion-select-option>
          <ion-select-option value="Semanal">Semanal</ion-select-option>
          <ion-select-option value="Quincenal">Quincenal</ion-select-option>
          <ion-select-option value="Mensual">Mensual</ion-select-option> -->
          <ion-select-option value="Bimestral">Bimestral</ion-select-option>
          <ion-select-option value="Trimestral">Trimestral</ion-select-option>
          <ion-select-option value="Semestral">Semestral</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="inputData">
        <ion-label position="floating">Precio C</ion-label>
        <ion-input type="number" formControlName="precioC"></ion-input>
      </ion-item>
      <ion-item class="inputData">
        <ion-label position="floating">Precio V</ion-label>
        <ion-input type="number" formControlName="precioV"></ion-input>
      </ion-item>
  
      <ion-button class="btnGuardar" size="large" expand="block"  (click)="navigateTo('supplies')"> 
        Agregar Insumos
      </ion-button>
    </ion-card>
    <ion-button class="btnGuardar" type="submit" size="large" expand="block">GUARDAR</ion-button>
  </form>
</ion-content>


