<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-menu-button color="primary" menu="myMenu"></ion-menu-button>
    </ion-buttons>

    <ion-title>Plan de Negocio</ion-title>
    <ion-buttons slot="end">
      <ion-button>

        <ion-icon color="primary" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Identificador de la estimacion -->
  <ion-item>
    <ion-title ><h2><b>Estimación</b></h2></ion-title>
          <ion-label slot="end"><b>1</b></ion-label>
  </ion-item>
  <!-- La lista de ejemplo -->
  <ion-list>
    <!-- PRESUSPIUESTO -->
    <ion-item color="primary" (click)="navigateTo('budget')" lines="none" detail="true">
      <ion-title>Presupuesto</ion-title>
    </ion-item>

    <ion-item>
      <ion-label>Efectivo</ion-label>
      <ion-label slot="end">0.00</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Banco</ion-label>
      <ion-label slot="end">0.00</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Otros</ion-label>
      <ion-label slot="end">0.00</ion-label>
    </ion-item>
    <!-- CAPITAL OPERATIVO -->
    <ion-item color="primary" (click)="navigateTo('operating-capital')" lines="none" detail="true">
      <ion-title>Capital de Operativo</ion-title>
    </ion-item>

    <ion-item>
      <ion-label>Mano de obra del emprendedor</ion-label>
      <ion-label slot="end">0.00</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mano de obra</ion-label>
      <ion-label slot="end">0.00</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Servicios basicos</ion-label>
      <ion-label slot="end">0.00</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Otros</ion-label>
      <ion-label slot="end">0.00</ion-label>
    </ion-item>

    <!-- CAPITAL DE INVERSION -->
    <ion-item color="primary" (click)="navigateTo('investment-capital')" lines="none" detail="true">
      <ion-title>Capital de Inversión</ion-title>
    </ion-item>

    <ion-item>
      <ion-label>Equipo de computo</ion-label>
      <ion-label slot="end">0.00</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Muebles</ion-label>
      <ion-label slot="end">0.00</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Otros</ion-label>
      <ion-label slot="end">0.00</ion-label>
    </ion-item>

    <!-- Resumen de presupuesto -->
    <ion-item color="primary" (click)="navigateTo('budget')" lines="none" detail="true">
      <ion-title>Resumen Presupuesto</ion-title>
    </ion-item>

    <ion-item>
      <ion-label>Total de inversion</ion-label>
      <ion-label slot="end">0.00</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Efectivo</ion-label>
      <ion-label slot="end">0.00</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Requerimiento de credito</ion-label>
      <ion-label slot="end">0.00</ion-label>
    </ion-item>

  </ion-list>

</ion-content>
