<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-menu-button color="primary" menu="myMenu"></ion-menu-button>
    </ion-buttons>

    <ion-title>Plan de Negocio</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button>

        <ion-icon color="primary" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Identificador de la estimacion -->
  <ion-item>
    <ion-title ><h2><b>Estimación</b></h2></ion-title>
          <ion-label slot="end"><b>1</b></ion-label>
  </ion-item>
  <!-- Secciones -->
  <ion-segment (ionChange)="segmentChanged($event)" [value]="valueSelected" color="secondary">
    <ion-segment-button value="p">
      <ion-label>Presupuesto</ion-label>
    </ion-segment-button>
    <ion-segment-button value="co">
      <ion-label>Costos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cr">
      <ion-label>Credito</ion-label>
    </ion-segment-button>
    <ion-segment-button value="fl">
      <ion-label>Flujo</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!-- Vistas de opciones -->
  <div *ngIf="valueSelected == 'p'">
    <app-content-budget></app-content-budget>
  </div>
  <div *ngIf="valueSelected == 'co'">
    <app-content-costs></app-content-costs>
  </div>
  <div *ngIf="valueSelected == 'cr'">
    <app-content-credit></app-content-credit>
  </div>
  <div *ngIf="valueSelected == 'fl'">
    <app-content-flow></app-content-flow>
  </div>




</ion-content>
