<div>

  <div class="carga" *ngIf="showSpinner">
    <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
    <br>
    <!-- <ion-label slot="none">Cargando...</ion-label> -->
    <ion-list>
      <ion-item>
        <ion-label>Inversión Inicial</ion-label>
        <ion-label slot="end"></ion-label>
      </ion-item>


      <ion-item color="secondary">
        <ion-label>Proyección Mensual</ion-label>
        <ion-select >
          <ion-select-option ></ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label>SALDO INICIAL</ion-label>
        <ion-label slot="end"></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ingresos</ion-label>
        <ion-label slot="end"></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Costo de producción</ion-label>
        <ion-label slot="end"></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Utilidad Bruta</ion-label>
        <ion-label slot="end"></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Costos Fijos</ion-label>
        <ion-label slot="end"></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>UTILIDAD NETA</ion-label>
        <ion-label slot="end"></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cuota</ion-label>
        <ion-label slot="end"></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>FLUJO ACUMULADO</ion-label>
        <ion-label slot="end"></ion-label>
      </ion-item>

      <ion-item color="secondary">
        <ion-label>Proyección Anual</ion-label>
        <ion-select >
          <ion-select-option ></ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label>SALDO INICIAL</ion-label>
        <ion-label slot="end"></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ingresos</ion-label>
        <ion-label slot="end"></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Costo de producción</ion-label>
        <ion-label slot="end"></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Utilidad Bruta</ion-label>
        <ion-label slot="end"></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Costos Fijos</ion-label>
        <ion-label slot="end"></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>UTILIDAD NETA</ion-label>
        <ion-label slot="end"></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cuota</ion-label>
        <ion-label slot="end"></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>FLUJO ACUMULADO</ion-label>
        <ion-label slot="end"></ion-label>
      </ion-item>
    </ion-list>
  </div>
<!-- Vista con datos de carga -->
  <ion-list *ngIf="!showSpinner">

    <app-monthly-flow></app-monthly-flow>

    <ion-item color="secondary">
      <ion-label>Proyección Anual</ion-label>
      <ion-select interface="popover" (ionChange)="segmentChanged($event)" [value]="valueSelected">
        <ion-select-option *ngFor="let gestion of gestions" [value]="gestion.rank">{{gestion.rank}}</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label>SALDO INICIAL</ion-label>
      <ion-label slot="end">{{flujoAnual.saldoInicial}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ingresos</ion-label>
      <ion-label slot="end">{{flujoAnual.ingresos}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Costo de producción</ion-label>
      <ion-label slot="end">{{flujoAnual.costoProduccion}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Utilidad Bruta</ion-label>
      <ion-label slot="end">{{flujoAnual.utilidadBruta}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Costos Fijos</ion-label>
      <ion-label slot="end">{{flujoAnual.costosFijo}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>UTILIDAD NETA</ion-label>
      <ion-label slot="end">{{flujoAnual.utilidadNeta}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cuota</ion-label>
      <ion-label slot="end">{{flujoAnual.cuota}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>FLUJO ACUMULADO</ion-label>
      <ion-label slot="end">{{flujoAnual.flujoAcumulado}}</ion-label>
    </ion-item>





    <!-- Calculos -->
    <ion-item color="light" lines="none">
      <ion-title><b>VAN</b></ion-title>
      <ion-label slot="end"><b>{{outCome.van}}</b></ion-label>
    </ion-item>
    <ion-item color="light" lines="none">
      <ion-title><b>TIR %</b></ion-title>
      <ion-label slot="end"><b>{{outCome.tir}}</b></ion-label>
    </ion-item>
    <ion-item lines="none">
      <div *ngIf="isFactible" class="factible">
        <ion-title color="Success">La Inversión es Factible</ion-title>

      </div>
      <div *ngIf="!isFactible" class="noFactible">
        <ion-title color="Success">La Inversión NO es Factible</ion-title>
      </div>
    </ion-item>

    <ion-button class="btnGrafic" (click)="goToGraphics()" size="large" expand="block">ver Graficos
    </ion-button>
  </ion-list>


</div>
