.title{
    color: #333;
    font-weight: bold;
    margin-left: 30px;
}

.inputData{
    margin-left: 50px;
    margin-right: 50px;
  
  }
.btnGuardar{
    margin-left: 50px;
    margin-right: 50px;
}