<ion-header>
  <ion-toolbar>
    <ion-title>Presupuesto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="business-plan"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Efectivo</ion-label>
    <ion-input type="number" [(ngModel)]="newBudget.efectivo"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Banco</ion-label>
    <ion-input type="number" [(ngModel)]="newBudget.banco"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Otros</ion-label>
    <ion-input type="number" [(ngModel)]="newBudget.otros"></ion-input>
  </ion-item>
  <br>

  <ion-button (click)="send()" size="large" expand="block">GUARDAR</ion-button>
</ion-content>
