<div>
  <!-- La lista de ejemplo -->
  <ion-list>
    <!-- COSTOS DE PRODUCCION -->
    <ion-item color="primary" (click)="navigateTo('product-month')" lines="none" detail="true">
      <ion-title>Costos de Producción</ion-title>
    </ion-item>

    <ion-item *ngFor="let product of products|async|collectionToArray">
      <ion-label>{{product.productoServicio}}</ion-label>
      <ion-label slot="end"></ion-label>
    </ion-item>

    <!-- COMPORTAMIENTO DE VENTAS MENSUALES -->
    <ion-item color="primary" (click)="navigateTo('sale-month')" lines="none" detail="true">
      <ion-title>Comportamiento Ventas mensuales</ion-title>
    </ion-item>

    <ion-item>
      <ion-label>Ventas totales</ion-label>
      <ion-label slot="end">{{comportamientoVentasTotales.totalVenta}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Costos totales</ion-label>
      <ion-label slot="end">{{comportamientoVentasTotales.totalCostoVenta}}</ion-label>
    </ion-item>


    <!-- COSTOS OPERATIVOS MENSUALES -->
    <ion-item color="tertiary" (click)="navigateTo('monthly-costs')" lines="none" detail="true">
      <ion-title>Costos Operativos mensuales</ion-title>
    </ion-item>

    <ion-item>
      <ion-label>Total costos operativos</ion-label>
      <ion-label slot="end">{{totalCostosOperativosMensuales}}</ion-label>
    </ion-item>


  </ion-list>
</div>


