<div>
  <div class="carga" *ngIf="showSpinner">
    <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
    <br>
    <ion-label slot="none">Cargando...</ion-label>
  </div>
  <ion-list *ngIf="!showSpinner">
    <!-- COSTOS DE PRODUCCION -->
    <ion-item color="primary" (click)="navigateTo('/direct-costs')" lines="none" detail="true">
      <ion-title>Costos de Directos</ion-title>
    </ion-item>

    <ion-item *ngFor="let product of products|async|collectionToArray">
      <ion-label>{{product.nombre}}</ion-label>
      <ion-buttons slot="end">
        <ion-button  (click)="navigateToParm('/direct-costs-edit',idEstim, product.id)" color="primary" size="default" expand="block"><ion-icon name="create-outline"></ion-icon></ion-button>
        <ion-button  (click)="presentAlertConfirm(product.id, product.nombre)" color="danger" size="default" expand="block"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item>

    <!-- COMPORTAMIENTO DE VENTAS MENSUALES -->
    <ion-item color="primary" (click)="navigateTo('sale-month')" lines="none" detail="true">
      <ion-title>Comportamiento Ventas</ion-title>
    </ion-item>

    <ion-item>
      <ion-label>Ventas totales</ion-label>
      <ion-label slot="end">{{comportamientoVentasTotales.totalVenta}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Costos totales</ion-label>
      <ion-label slot="end">{{comportamientoVentasTotales.totalCostoVenta}}</ion-label>
    </ion-item>


    <!-- COSTOS OPERATIVOS MENSUALES -->
    <ion-item color="tertiary" (click)="navigateTo('monthly-costs')" lines="none" detail="true">
      <ion-title>Costos Operativos mensuales</ion-title>
    </ion-item>

    <ion-item>
      <ion-label>Total costos operativos</ion-label>
      <ion-label slot="end">{{totalCostosOperativosMensuales}}</ion-label>
    </ion-item>


  </ion-list>
</div>


