<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="business-plan"></ion-back-button>
    </ion-buttons>
    <ion-title>Graficos del Flujo Anual</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chart-container">
    <canvas id="table-chart-1"></canvas>
    <canvas id="table-chart-2"></canvas>
    <canvas id="table-chart-3"></canvas>
    <canvas id="table-chart-4"></canvas>
    <canvas id="table-chart-5"></canvas>
    <canvas id="table-chart-6"></canvas>
    <canvas id="table-chart-7"></canvas>
    <canvas id="table-chart-8"></canvas>
  </div>
  <ion-button class="btnAtras" (click)="goBack()" size="large" expand="block">Volver</ion-button>
</ion-content>
