 ion-content{
     ion-item{
         
         ion-title{
             text-align: center;
         }
     }
 }
.subtitulo{
    background: #92949c;
    color: white;
    margin: 10px 0px;
    padding: 5px;
    border-radius: 4px;
}