<div>
  <div class="carga" *ngIf="showSpinner">
    <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
    <br>
    <ion-label slot="none">Cargando...</ion-label>
  </div>
  <ion-list *ngIf="!showSpinner">
    <!-- CREDITOS -->
    <ion-item color="primary" (click)="navigateTo('credit')" lines="none" detail="true">
      <ion-title>Datos del Credito</ion-title>
    </ion-item>

    <ion-item>
      <ion-label>Monto</ion-label>
      <ion-label slot="end">{{budgetSummary.montoFinanciar}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tasa de interes %</ion-label>
      <ion-label slot="end">{{dataCredit.tasaInteres}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Plazo (meses)</ion-label>
      <ion-label slot="end">{{dataCredit.plazo}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Poliza %</ion-label>
      <ion-label slot="end">{{dataCredit.poliza}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tipo de Credito</ion-label>
      <ion-label slot="end">{{dataCredit.tipoCuota}}</ion-label>
    </ion-item>
</ion-list>
</div>
