<div>
  <!-- La lista de ejemplo -->
  <ion-list>
    <!-- CREDITOS -->
    <ion-item color="primary" (click)="navigateTo('credit')" lines="none" detail="true">
      <ion-title>Datos del Credito</ion-title>
    </ion-item>

    <ion-item>
      <ion-label>Monto</ion-label>
      <ion-label slot="end">{{budgetSummary.montoFinanciar}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tasa de interes %</ion-label>
      <ion-label slot="end">7</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Plazo (meses)</ion-label>
      <ion-label slot="end">24</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tipo de Credito</ion-label>
      <ion-label slot="end">Cuota Fija</ion-label>
    </ion-item>
</ion-list>
</div>
