<div>
  <!-- La lista de ejemplo -->
  <ion-list>
    <!-- TABLA MENSUAL -->
    <app-monthly-flow></app-monthly-flow>
    
    <!-- TABLA AUNAL -->
    <!-- <ion-item color="secondary"  lines="none" >
      <ion-title>Tabla Anual</ion-title>
    </ion-item> -->
    <ion-item color="secondary">
      <ion-label>Proyeción Anual</ion-label>
      <ion-select  interface="popover"  >
        <ion-select-option value="Cuota Fija">2021</ion-select-option>
        <ion-select-option value="Cuota Variable">2022</ion-select-option>
      </ion-select>
    </ion-item>


      <ion-item>
        <ion-label>SALDO INICIAL</ion-label>
        <ion-label slot="end">00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ingresos</ion-label>
        <ion-label slot="end">00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Costo de producción</ion-label>
        <ion-label slot="end">00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Utilidad Bruta</ion-label>
        <ion-label slot="end">00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Costos Fijos</ion-label>
        <ion-label slot="end">00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>UTILIDAD NETA</ion-label>
        <ion-label slot="end">00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cuota</ion-label>
        <ion-label slot="end">00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>FLUJO ACUMULADO</ion-label>
        <ion-label slot="end">00</ion-label>
      </ion-item>





    <!-- Calculos -->
    <ion-item color="tertiary"  lines="none" >
      <ion-title>VAN</ion-title>
      <ion-label slot="end">0</ion-label>
    </ion-item>
    <ion-item color="tertiary"  lines="none" >
      <ion-title>TIR</ion-title>
      <ion-label slot="end">0%</ion-label>
    </ion-item>
    <ion-item  lines="none" >
      <ion-title color="Success">La inversión es Factible?</ion-title>
    </ion-item>
 
  </ion-list>
</div>


