.carga{
  color: #5f94f8;
  text-align: center;
}
.btn{
  width: 98%;
  text-align: center !important;
  margin: 5px !important;
}
.btn-s{
  width: 95%;
  text-align: center !important;
  margin: 5px !important;
}

