<div>
  <ion-row>
    <ion-col  sizeXs="6" sizeMd="4" sizeLg="4">
      <ion-button class="btn" (click)="showTableFlujoRango()" [color]="btncolorRa">
        <div><ion-label>Rango de Ventas</ion-label></div>

      </ion-button>
    </ion-col>
    <ion-col sizeXs="6" sizeMd="4" sizeLg="4">
      <ion-button class="btn-s" (click)="showTableFlujoSimulation()" [color]="btncolorSi">
        <div><ion-label>Simular Ventas</ion-label></div>
      </ion-button>
    </ion-col>
  </ion-row>
  <div *ngIf="showFlujoRango">
    <app-sale-rank></app-sale-rank>

  </div>
  <div *ngIf="showFlujoSimulation">
<app-sale-simulation></app-sale-simulation>
  </div>
</div>
