.contentProduct{

  border-radius: 10px;

}
.contentForm{
  padding: 15px;
  border-radius: 10px;

}
.contentInsumo{
  padding: 10px;
  background-color: #c4c5c541;
  border-radius: 10px;
}

.contentVenta{
  padding: 5px;
  background-color: #c4f5fdee;
  border-radius: 10px;

}
.btnGuardar{
  margin-top: 15px;
}
