<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-menu-button color="primary" menu="myMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Historial de Estimaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngFor="let estimacion of estimacionArray; let i = index"><div>{{setValueEstimacion(i,estimacion.resultado.van, estimacion.resultado.tir, estimacion.id, estimacion.productosCalMUB.mub)}}</div>
  <app-calculated-estimate
  [title]="estimacionTitle"
  [van]="estimacionVan"
  [tir]="estimacionTir"
  [idEstim]="estimacionId"
  [mub]="mub" ><div></div></app-calculated-estimate>

</div>
</ion-content>
